<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace的属性：用于指定当前的映射文件和那个接口进行映射，需要指定接口文件的路径，
    需要标注包的完整路径-->
<mapper namespace="com.cy.store.mapper.UserMapper">
<!--id表示接口中的方法名字
uid并不会自动增长-->
    <!--自定义映射的规则：resultMap标签    -->
    <resultMap id="UserEntityMap" type="com.cy.store.entity.User">
        <!--将类的属性和表的字段不一致的进行匹配   property实体类的属性 column表的字段-->
        <result column="is_delete" property="isDelete"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
    insert into t_user(
        username,password,salt,phone,email,gender,avatar,is_delete,created_user,created_time,modified_user,modified_time
    ) values (
        #{username},#{password},#{salt},#{phone},#{email},#{gender},#{avatar},#{isDelete},
        #{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
        )

    </insert>
<!--    查出的东西是一个对象，把他放在结果集中
一般类的属性要和数据库的字段一样 resultType resultType="com.cy.store.entity.User"
不一样的话，有其他方法  resultMap-->
    <select id="findByUserName" resultMap="UserEntityMap">
        select * from t_user where username= #{username}
    </select>
    
    <update id="updataPasswordByUid">
        UPDATE t_user SET password=#{password}, modified_user=#{modifiedUser}, modified_time=#{modifiedTime} WHERE uid=#{uid}
    </update>
    
    <select id="findByUid" resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE uid=#{uid}
    </select>

    <update id="updateInfoByUid">
        UPDATE t_user SET
                          <if test="phone != null">phone = #{phone},</if>
                          <if test="email != null">email = #{email},</if>
                          <if test="gender != null">gender = #{gender},</if>
                          modified_user=#{modifiedUser},
                          modified_time=#{modifiedTime}
                        WHERE uid=#{uid}

    </update>
</mapper>